@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Satoshi", sans-serif;
}
.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  position: relative;
}

.header-background {
  /* Styles for the background element */
  background-image: url(./dashboard/headerbackground.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute; /*Position the element absolutely*/
  top: 0;
  left: 0; /* Align to top-left corner */
  z-index: -1; /* Set a lower z-index to push it behind the text */
}

.dashboard-title {
  position:absolute; /* Position the text absolutely */
  top: 100px; /* Adjust the top position as needed */
  left: 200px; /* Adjust the left position as needed */
  font-family: "Product Sans Bold", sans-serif; /* Set font family */
  font-size: 32px; /* Set font size */
  color: #fff; /* Adjust text color as needed */
  margin: auto; /* Remove default margin */;
}

.App-header {
  /* Styles for the header element, if needed */
  overflow: hidden; /* Prevent horizontal scrolling */
  display: flex; /* Use flexbox for layout */
  flex-direction: column;
}


.logo-container {
  display: flex; /* Use flexbox for logo positioning */
  z-index: 1; /* Increase z-index to bring it above background */
  align-items: center;
  margin-left: 700px;
  margin-top: 10px;
}

.logo {
  /* Styles for individual logos */
  width: auto; /* Allow logos to adjust to their natural size */
  margin-right: 10px; /* Add spacing between logos */
}

.user-profile {
  flex-direction: row; /*Stack elements vertically*/
  align-items: right; /* Horizontally center elements within */
  text-align: right; /* Right-align text content */
  margin-top: 70px;
  font-family: "Product Sans Bold", sans-serif; /* Set font family */
  font-size: 12px; /* Set font size */
  color: #fff; /* Adjust text color as needed */
  margin-right: 200px;
}

.profile-pic {
  width: 80px; /* Set a width for the profile picture */
  height: 80px; /* Set a height for the profile picture */
  border-radius: 50%; /* Make the profile picture circular */
  /*
  margin-top: 70px;
  margin-left: 10px;
  */
}

.file-upload-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px; /* Adjust top margin as needed */
  font-family: "Product Sans Bold", sans-serif; /* Match existing font */
  color: #fff; /* Match existing text color */
  flex-wrap: wrap;
}

.file-upload-title {
  font-size: 20px; /* Adjust font size as needed */
}

.file-upload-info {
  font-size: 14px; /* Adjust font size as needed */
  margin-top: 10px; /* Adjust spacing as needed */
}

.upload-button {
  width: 150px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  border-radius: 5px; /* Optional: Add rounded corners */
  cursor: pointer; /* Indicate interactivity */
}


